@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-richblack: #070707;
    --color-hookgray: #959196;
    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}

@layer utilities {
  .glow-effect {
    text-shadow: 
      0 0 10px rgba(168, 85, 247, 0.5),
      0 0 20px rgba(168, 85, 247, 0.3),
      0 0 30px rgba(168, 85, 247, 0.2);
  }
}
